In [2]:
!pip install pandas

Collecting pandas
  Downloading pandas-2.2.3-cp310-cp310-win_amd64.whl (11.6 MB)
     ---------------------------------------- 11.6/11.6 MB 3.7 MB/s eta 0:00:00
Collecting pytz>=2020.1
  Downloading pytz-2024.2-py2.py3-none-any.whl (508 kB)
     -------------------------------------- 508.0/508.0 kB 4.5 MB/s eta 0:00:00
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\15148\cse-6242-project\bike-env\lib\site-packages (from pandas) (2.9.0.post0)
Collecting numpy>=1.22.4
  Downloading numpy-2.1.1-cp310-cp310-win_amd64.whl (12.9 MB)
     ---------------------------------------- 12.9/12.9 MB 6.5 MB/s eta 0:00:00
Collecting tzdata>=2022.7
  Downloading tzdata-2024.2-py2.py3-none-any.whl (346 kB)
     ------------------------------------- 346.6/346.6 kB 10.8 MB/s eta 0:00:00
Requirement already satisfied: six>=1.5 in c:\users\15148\cse-6242-project\bike-env\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Installing collected packages: pytz, tzdata, numpy, pandas
Successfully installed numpy-2.1.1 pandas-2.2.3 pytz-2024.2 tzdata-2024.2

[notice] A new release of pip available: 22.2.1 -> 24.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [15]:
import pandas as pd
import os

cities = ["montreal", "toronto", "washington"]

current_city = "montreal"
base_data_path = os.path.join("..", "data")
stations_df = pd.read_csv(os.path.join(base_data_path, current_city, "stations.csv"))
stations_df = stations_df.sort_index()
stations_df.head()

                               name   latitude  longitude
code yearid
4000 2018    Jeanne-d'Arc / Ontario  45.549457 -73.541649
     2019    Jeanne-d'Arc / Ontario  45.549598 -73.541874
     2020    Jeanne-d'Arc / Ontario  45.549598 -73.541874
4001 2018                Parc Plage  45.502629 -73.527750
     2019       Graham / Brookfield  45.520075 -73.629776

In [ ]:
stations_df.describe()

In [19]:
stations_df = stations_df.set_index(index_col=["code", "yearid"])

TypeError: DataFrame.set_index() got an unexpected keyword argument 'index_col'