In [1]:
import pandas as pd
# Readall my csv files
stations = pd.read_csv('/Users/fabjoseph/Desktop/CSE_Project/data/raw/stations.csv')
trips = pd.read_csv('/Users/fabjoseph/Desktop/CSE_Project/data/raw/trips.csv')
weather = pd.read_csv('/Users/fabjoseph/Desktop/CSE_Project/data/raw/weather.csv')

In [2]:
stations.head()

   code                                  name  latitude  longitude  yearid
0     0        Dundas St E / Regent Park Blvd       NaN        NaN    2016
1     1  Riverdale Park North (Broadview Ave)       NaN        NaN    2016
2     2                         Union Station       NaN        NaN    2016
3     3            Front St W / Blue Jays Way       NaN        NaN    2016
4     4              Queens Park / Bloor St W       NaN        NaN    2016

In [3]:
trips.head() #show first 5 of trips dataset

,start_date,start_station_code,end_date,end_station_code,duration_sec,is_member,yearid
0,2016-07-09 01:03:00,0,2016-07-09 01:15:00,160,720.0,0,2016
1,2016-09-03 22:37:00,0,2016-09-03 22:48:00,160,660.0,0,2016
2,2016-08-05 16:21:00,0,2016-08-05 16:33:00,160,720.0,0,2016
3,2016-09-23 10:15:00,0,2016-09-23 10:28:00,160,780.0,0,2016
4,2016-10-15 13:40:00,0,2016-10-15 13:51:00,160,660.0,0,2016

In [4]:
weather.head() #show first 5 of weather data

,date,prectot,qv2m,rh2m,ps,t2m_range,ts,t2mdew,t2mwet,t2m_max,t2m_min,t2m,ws50m_range,ws10m_range,ws50m_min,ws10m_min,ws50m_max,ws10m_max,ws50m,ws10m
0,2015-01-01,0.23,2.12,77.57,99.19,4.58,-2.64,-7.67,-7.59,-2.53,-7.11,-4.58,2.25,2.17,12.91,10.37,15.17,12.54,14.01,11.35
1,2015-01-02,0.41,2.13,72.21,100.30,3.12,-2.27,-7.47,-7.36,-1.96,-5.08,-3.43,11.64,9.10,0.91,0.79,12.55,9.89,8.00,6.23
2,2015-01-03,6.73,3.03,88.12,100.13,6.86,-1.04,-3.44,-3.40,1.54,-5.32,-1.41,8.84,7.46,1.54,1.30,10.37,8.76,7.63,5.99
3,2015-01-04,13.43,3.94,92.87,98.48,7.86,0.94,-0.01,0.00,3.14,-4.72,1.26,13.61,11.71,2.31,1.41,15.92,13.12,8.83,6.54
4,2015-01-05,2.98,1.39,75.53,100.45,6.69,-6.15,-12.41,-12.23,-5.73,-12.43,-9.58,6.92,6.01,9.08,7.10,16.00,13.11,12.64,10.37

In [7]:
!pip install tqdm
import pandas as pd
import numpy as np
from geopy.geocoders import GoogleV3
import time
from tqdm import tqdm #show progress bar when finding lat/long for a station. THIS TAKES LONG

# Fabs Google API
api_key = 'AIzaSyCAkYM1nt6D7uHPrUkJFDVw4vy6UfeEbtg'

# Initialize the GoogleV3 geocoder
geolocator = GoogleV3(api_key=api_key)

# Creating function to get latitude and longitude for station name
def get_lat_long(station_name):
    try:
        location = geolocator.geocode(station_name + ", Toronto, Canada")
        if location:
            return location.latitude, location.longitude
        else:
            return np.nan, np.nan
    except Exception as e:
        print(f"Error retrieving coordinates for {station_name}: {e}")
        return np.nan, np.nan

# run lat long in dataset
for i, row in tqdm(stations.iterrows(), total=stations.shape[0]):
    if pd.isna(row['latitude']) or pd.isna(row['longitude']):
        lat, long = get_lat_long(row['name'])
        stations.at[i, 'latitude'] = lat
        stations.at[i, 'longitude'] = long
        time.sleep(1)  # avoid hitting API rate limits

stations.head() #show new dataframe

Requirement already satisfied: tqdm in /Users/fabjoseph/Desktop/CSE_Project/bike-env3/lib/python3.11/site-packages (4.66.5)

[notice] A new release of pip is available: 23.2.1 -> 24.2
[notice] To update, run: pip install --upgrade pip

  0%|                                                  | 0/1927 [00:00<?, ?it/s]

Error retrieving coordinates for 25 York St   Union Station South: Non-successful status code 400

 43%|█████████████████                       | 820/1927 [02:25<20:46,  1.13s/it]

Error retrieving coordinates for Gailbraith Rd / King s College Cr. (U of T): Non-successful status code 400

100%|███████████████████████████████████████| 1927/1927 [26:33<00:00,  1.21it/s]

      code                                       name   latitude  longitude  \
0        0             Dundas St E / Regent Park Blvd  43.660356 -79.361804
1        1       Riverdale Park North (Broadview Ave)  43.671829 -79.354985
2        2                              Union Station  43.645262 -79.380554
3        3                 Front St W / Blue Jays Way  43.643432 -79.391233
4        4                   Queens Park / Bloor St W  43.668706 -79.394132
...    ...                                        ...        ...        ...
1922   600             Holland Park Ave / Oakwood Ave  43.686409 -79.438408
1923   601                          Toronto Bike Shop  43.653226 -79.383184
1924   602                  135 Queen’s Wharf - SMART  43.635892 -79.404883
1925   603  Dockside Dr / Queens Quay E (Sugar Beach)  43.642897 -79.367398
1926   604                      Warehouse EBS-Station  43.644579 -79.383396

      yearid
0       2016
1       2016
2       2016
3       2016
4       2016
...      ...
1922    2020
1923    2020
1924    2020
1925    2020
1926    2020

[1927 rows x 5 columns]

In [10]:
# Count NaN values in 'latitude' and 'longitude' columns
latitude_na_count = stations['latitude'].isna().sum()
longitude_na_count = stations['longitude'].isna().sum()
print(f"Number of NaN values in 'latitude' column: {latitude_na_count}")
print(f"Number of NaN values in 'longitude' column: {longitude_na_count}")

Number of NaN values in 'latitude' column: 2
Number of NaN values in 'longitude' column: 2

In [15]:
# Filter rows where latitude or longitude is NaN
na_rows = stations[stations['latitude'].isna() | stations['longitude'].isna()]
print(na_rows) #show me na rows

#update NA rows with long lat values manually from google
stations.loc[stations['latitude'].isna().idxmax(), ['latitude', 'longitude']] = [43.64367446550596, 79.38094983202066]
stations.loc[stations['latitude'].isna().idxmax(), ['latitude', 'longitude']] = [43.66054642870312, -79.39575677434813]

Rows with NaN before update:
Empty DataFrame
Columns: [code, name, latitude, longitude, yearid]
Index: []

In [17]:
print(stations) #show dataset one more time
stations.to_csv('stations_latlong.csv', index=False) #Download Dataset

      code                                       name   latitude  longitude  \
0        0             Dundas St E / Regent Park Blvd  43.660546 -79.395757
1        1       Riverdale Park North (Broadview Ave)  43.671829 -79.354985
2        2                              Union Station  43.645262 -79.380554
3        3                 Front St W / Blue Jays Way  43.643432 -79.391233
4        4                   Queens Park / Bloor St W  43.668706 -79.394132
...    ...                                        ...        ...        ...
1922   600             Holland Park Ave / Oakwood Ave  43.686409 -79.438408
1923   601                          Toronto Bike Shop  43.653226 -79.383184
1924   602                  135 Queen’s Wharf - SMART  43.635892 -79.404883
1925   603  Dockside Dr / Queens Quay E (Sugar Beach)  43.642897 -79.367398
1926   604                      Warehouse EBS-Station  43.644579 -79.383396

      yearid
0       2016
1       2016
2       2016
3       2016
4       2016
...      ...
1922    2020
1923    2020
1924    2020
1925    2020
1926    2020

[1927 rows x 5 columns]